<!DOCTYPE html>

<head>
	<title>Arretado Games</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script src="static/bootstrap/js/bootstrap.js" language="javascript" type="text/javascript"></script>
</head>

<body>
	<div id="theCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#theCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#theCarousel" data-slide-to="1"></li>
			<li data-target="#theCarousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="active item"></div>
			<div class="item"> </div>
			<div class="item"> </div>
		</div>

		<a class="carousel-control left" href="#theCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#theCarousel" data-slide="next">&rsaquo;</a>
	</div>
</body>

</html>
